.main-container{
    display: grid;
    width: 100vw;
    border: solid;
    border-width: 1px;
    grid-template:
    "hd hd hd hd" 
    "sd post post post" 1fr
    "sd post post post" 1fr
    "ft ft ft ft"
    ;
}

@media only screen and (max-width: 800px) {
    .main-container{
        grid-template:
        "hd" 
        "post" 1fr
        'ft'
        ;
    }
  }